// Base font size in pixels, if not already defined.
// Should be the same as the font-size of the html element.
$base-font-size: 16px !default;
$print-rem-px-fallbacks: true !default;

// @private Number of pixels in 1rem.
// For px -> rem, divide by this ratio; for the other way, multiply.
$px-per-rem: $base-font-size / 1rem;

// Return pixel values as rem
@function px-to-rem($px-value) {
	@return $px-value / $px-per-rem;
}

// Return rem values as px
@function rem-to-px($rem-value) {
	@return $rem-value * $px-per-rem;
}

// Print the given expression with px values converted to rem, with px fallback
// for older browsers.
//
// $property - The css property name to set in rems
// $values	 - The value (or space-separated list of values) for $property.
//
@mixin rem($property, $values, $print-px-fallbacks: $print-rem-px-fallbacks) {
	// Create a couple of empty lists as output buffers.
	$px-values: ();
	$rem-values: ();
	
	// If $values isn't a list (because it's only got one value) convert it
	// to a list so we don't have to handle separate cases.
	@if type-of($values) != "list" {
		$values: join((), $values);
	}
	
	// Loop through the $values list
	@each $value in $values {
		// For each property value, if it's in rem or px, derive both rem and
		// px values for it and add those to the end of the appropriate buffer.
		@if(type-of($value) == number and not unitless($value) and (unit($value) == px or unit($value) == rem)) {
			@if unit($value) == px {
				$px-values: join($px-values, $value);
				$rem-values: join($rem-values, px-to-rem($value));
			}
			@else {
				$px-values: join($px-values, rem-to-px($value));
				$rem-values: join($rem-values, $value);
			}
		}
		@else {
			$px-values: join($px-values, $value);
			$rem-values: join($rem-values, $value);
		}
	}
	
	// By default, print pixel fallbacks for browsers that don't understand rem.
	@if $print-px-fallbacks {
		#{$property}: $px-values;
	}
	
	// Print rem values for everyone else (overrides pixel values).
	#{$property}: $rem-values;
}
